@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
/* 공통 영역 */
.inner {
  position: relative;
  width: 1180px;
  margin: auto;
  /* background-color: whitesmoke; */
}
/* 전체 레이아웃 */
/* 상단 */
.header {
  width: 100%;
}
.header .inner {
  height: 120px;
  /* background-color: aqua; */
}
/* 상단 위 */
.header-top {
  height: 60px;
  /* background-color: antiquewhite; */
}
.util {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-top: 15px;
}
.util > li > a {
  font: 13px/1 "arial";
}
/* 상단 아래 */
.header-bt {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: blue; */
}
.gnb {
  display: flex;
  width: 800px;
  text-align: center;
}
.gnb > li {
  width: calc(100% / 5);
}
.gnb > li > a {
  display: block;
  /* width: 100%; */
  line-height: 60px;
  font-weight: bold;
}
.gnb > li > a:hover {
  background-color: #333;
  color: #fff;
}
/* 비주얼 */
figure {
  position: relative;
  width: 100%;
  height: calc(100vh - 120px);
  background-color: #333;
  padding-top: 250px;
}
figure > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  /* 가로를 기준으로 잡아라 > object-fit : cover */
  object-fit: cover;
  opacity: 0.3;
}
figure .inner h2 {
  font: 120px/1 "arial";
  color: #fff;
  margin-bottom: 20px;
}
figure .inner p {
  font: 16px/1.4 "arial";
  color: #888;
  margin-bottom: 60px;
}
figure .inner a {
  width: 400px;
  display: block;
  border: 1px solid #bbb;
  font: bold 12px/30px "arial";
  color: #fff;
  text-align: center;
  transition: all 0.3s;
}
figure .inner a:hover {
  background-color: #bbb;
  color: #333;
}
/* 컨텐츠 */
/* section {
  position: relative;
  width: 100%;
  height: 1200px;
  background-color: #bbb;
} */
section {
  padding: 200px 0;
}
section h2 {
  text-align: center;
  margin-bottom: 60px;
}
.section-wrap ul {
  display: flex;
  gap: 20px;
}
.section-wrap ul li {
  width: calc(100% / 4);
}
.pic {
  height: 120px;
  overflow: hidden;
  margin-bottom: 20px;
}
.pic img {
  width: 100%;
}

/* 하단 */
